.App {
  width: 1000px;
  text-align: center;
  display: grid;
}

label{
  font-weight: 600;
  padding:20px;
}

h1{
  justify-content: center;
  width: 200px;
  margin-left: 20px;
}

.Top{
  display: flex;
  padding-top: 50px;
}



.datebr{
  display: flex;
  align-items: center;
  
}

.datevr{
  display: flex;
  align-items: center;
  
}
.country_dropdown{
  display: flex;
  align-items: center;
  transform: translate(30%,0%);
 
}

.country_dropdown{
  transform: translate(20%,0%);
}
.date{
  top: 10px;
  left: 100px;
  transform: translate(230%,0%);
  
  
}

.Bottom{
  display: flex;
  height: 400px;
  transform: translate(0%,20%);
  
}
.to{
      padding-left: 20px;
}

.br{
padding-left: 30px;


}


.react-calendar{
width: 50px;
max-width: 100%;
background: black;
border: 1px solid #a0a096;
font-family: Arial, Helvetica, sans-serif;
line-height: 1.500em;
}


.table{
  display: flex;
  padding: 20px;
  width: 100px;
}

.tab{
  margin-left: 30px;
}

.tabr{
  width: 200px;
  margin-left: 30px;
}


